@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@800&display=swap');

html {
    /* 62.5% of 16px base font size is 10px */
    font-size: 62.5%;
  }

* {
    box-sizing: border-box;
    font-family: Sniglet;
}

#navbar {
    display:flex;
    justify-content: center;
    background: hsl(132 72% 39% / 50%);
    backdrop-filter: blur(3rem);
    /* background-color: #1CAC3A; */
    border-radius: 5rem;
    padding: 1.5rem;
    min-width: 30rem;
    max-width: 60rem;
    margin: 0 auto;
    gap: 1rem;
}

#navbar a{
    max-block-size: 100%;
    text-decoration : none;
    font-size: clamp(1rem, 5.5vw, 3rem);
    color: #1CAC3A;
    background-color: #ffffff;
    border-radius: 2.5rem;
    padding:0.5rem;
    transition: all 250ms ease;
}

#navbar a:hover,
:focus{
    padding: 0.5rem 1rem 0.5rem 1rem;
    color:#7F6E5E ;
}

#logosize{
    width: 200px;
    transition: width 250ms ease;
    /* transform: translateY(110%); */
    opacity: 0;
    animation: fadeinlogo 600ms ease-out forwards;
    animation-delay: 0.4s;

}

@keyframes fadeinlogo {
    0%{
        transform: translateY(110%);
        opacity: 0;
        /* animation-delay: 8s; */
    }
    30%{
        opacity:0;
    }
    100%{
        transform: translateY(0);
        opacity: 100%;
    }
}

.froglogo{
    height: 20rem;
    overflow: hidden;
}

#logosize:hover{
    width:250px
}

h1.index {
    font-size: clamp(3rem, 6vw, 5rem);
    color:white;
    margin: 50px 0px 0px 0px;
}

h1.contact{
    font-size: clamp(3rem, 12vw, 5rem);
    color:white;
    margin: 50px 0px 0px 0px;
}

h2 {
    font-size: clamp(1rem, 6vw, 3rem);
    color:white;
    margin-top: 0%;
}

.aboutpgraph{
    color: white;
}

.center{
    text-align: center;
}

body{
    background-image: url("rainforestblurred.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
}

.imgadjust{
    display:flex;
    flex-wrap: wrap;
    width: 60%;
    margin:0 auto;
    align-content: center;
    min-width: 20%;
}

.imgadjust img{
    /* max-width: 36.4rem; */
    width: 32%;
    background: hsl(132 72% 39% / 60%);
    padding: 5px;
    border-radius: 15px; 
    margin: 0.3%;
}

@media (max-width: 50rem){
    .imgadjust{
        flex-direction: column;
    }
    .imgadjust img{
        width: 100%;
    }
    #contactscreen{
        flex-direction: column;
    }
    .contactimg{
        margin: 0 auto;
    }
}

#contactscreen{
    display:flex;
    justify-content: center;
    font-size: clamp(1rem, 4vw, 2rem);
    color:white;

}

.contactimg{
    min-width: 20rem;
    max-width: 25rem;
    /* overflow: hidden; */
}

.contactimg img{
    width: 100%;
    animation: fadeinside 600ms ease-out forwards;
    opacity: 0;
    animation-delay: 0.4s;
}

@keyframes fadeinside {
    0%{
        transform: translateX(-110%);
        opacity: 0;
    }
    30%{
        opacity:0;
    }
    100%{
        transform: translateX(0);
        opacity: 100%;
    }
}

#contactlist{
    margin:0 auto;
    max-width: 50rem;
    padding: 1rem 3rem 1rem 3rem;
    background: hsl(132 72% 39% / 60%);  
    backdrop-filter: blur(2rem);
    border-radius: 2.5rem;
    border-style: solid;
    border-width: 0.5rem;
    /* border-color: white; */
}

#contactlist p > span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    justify-content: space-between
}
